body {
    background-color:black;
  }


/*.about-me {
background: -moz-linear-gradient(-45deg,  rgba(204,204,204,0) 0%, rgba(204,204,204,0.51) 7%, rgba(212,204,200,0.8) 11%, rgba(235,205,189,0.8) 23%, rgba(255,205,180,0.85) 33%, rgba(255,251,249,0.91) 47%, rgba(255,255,255,0.96) 58%, rgba(255,255,255,1) 67%, rgba(255,255,255,0.9) 100%); 
background: -webkit-linear-gradient(-45deg,  rgba(204,204,204,0) 0%,rgba(204,204,204,0.51) 7%,rgba(212,204,200,0.8) 11%,rgba(235,205,189,0.8) 23%,rgba(255,205,180,0.85) 33%,rgba(255,251,249,0.91) 47%,rgba(255,255,255,0.96) 58%,rgba(255,255,255,1) 67%,rgba(255,255,255,0.9) 100%); 
background: linear-gradient(135deg,  rgba(204,204,204,0) 0%,rgba(204,204,204,0.51) 7%,rgba(212,204,200,0.8) 11%,rgba(235,205,189,0.8) 23%,rgba(255,205,180,0.85) 33%,rgba(255,251,249,0.91) 47%,rgba(255,255,255,0.96) 58%,rgba(255,255,255,1) 67%,rgba(255,255,255,0.9) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00cccccc', endColorstr='#e6ffffff',GradientType=1 ); 
    margin-top: 75px;
    position:relative;
}*/

.frame-ab-wrapper {
    position:relative;
    background-color: black;

}

.about-wrapper {
    height: 100%;
}

.image-collage-wrapper {
    padding-right:0px;
    padding-left:17px;
}
/*.ab-me-design {
    background-color: black;
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
}*/

.title-border {
    position:relative;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    color:rgba(255,255,255, 0.8);
}
.title-border::after {
    position: absolute;
    left:0;
    content: "";
    bottom: 0;
    width: 80px;
    height: 3px;
    /*background:rgb(97, 54, 56);*/
    background-image: linear-gradient(
        to right,
        #462523 0,
        #cb9b51 22%, 
        #f6e27a 45%,
        #f6f2c0 50%,
        #f6e27a 55%,
        #cb9b51 78%,
        #462523 100%
        );
       color:transparent;

}
.img-thumbnail {
    background-color: black;
}

.img-thumbnail.about-img {
    max-width: 100%;
    opacity: 0.8;
    height: auto;
    border:none;
}
.text-collage-wrapper {
    padding-right:30px;
    padding-left:0px;
    padding-bottom: 30px;
    overflow-y: auto;
    height: 100%;
}
.description-wrapper {
    color:rgb(115, 124, 123);
}
.description-wrapper p {
    font-weight: bold;
}

.description-dscr {
    font-weight: bold;
}

.skills-text p {
    color:rgb(115, 124, 123);
}

.skills-text h4 {
    color:rgb(137, 73, 76);
}