.appointmentWrapper {
    margin: 20px 0;
    background-color:black;
}

.formInput {
    padding: 10px 20px;
    background-color:  rgba(16, 15, 18, 1);
    color: white;
    border: none;
    flex: 5;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    &:-internal-autofill-selected  {
        background-color:  rgba(16, 15, 18, 1);
        color: white;
    }
    
    &:focus {
        border: none;
        outline: none;
        border-bottom: 1px solid /*#ffc0a1*/#F7EF8A;
    }
}

.inputRequired {
    border-bottom: 1px solid #e56d75;
}

.formLabel {
    padding: 10px 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin: 0;
    background: #333;
    color: white;
    letter-spacing: 0.1em;
    flex: 2;
    text-align: right;
    display: block;
}

.formRow {
    margin-bottom: 20px;
    display: flex;
}

.event {
    margin-top: 40px;
}

.eventText {
    background: #333;
    color: white;
    letter-spacing: 0.1em;
    font-size: 24px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
}

.errorMessage {
    color: #e56d75;
}