@import "../../scss/index";

.logo {
  width: auto;
  height: 40px;
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% + 16px);
  z-index: 5;
  color: $white;
  margin-top: -1px;
  background-color: #000000;
  border-bottom: 0.5px solid $secondary;
}

.overlay {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 100vh;
  background-color: rgba($primary, 0.3);
  z-index: -100;
  display: none;
}

.navigationList {
  list-style-type: none;
  position: absolute;
  width: 0px;
  overflow: hidden;
  left: -15px;
  top: auto;
  background-color: rgba($secondary, 0.9);
  transition: all 0.3s ease;
  height: 100vh;

  ul {
    width: 100%;
    padding-left: 20px;
    padding-top: 10px;
    list-style-type: none;
  }

  ul li a {
    color: $white;
  }

  ul li.active a {
    color: #b4b4b4;
    border-bottom: 1px solid #b4b4b4;
  }
}

.navigationAnchor {
  color: $white;
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
  font-size: 0.9em;
  letter-spacing: 0.1em;
  cursor: pointer;

  &:hover {
    color: #b4b4b4;
    text-decoration: none;
  }

  &:before,
  &:after {
    content: "";
    border-bottom: solid 1px $white;
    position: absolute;
    bottom: -5px;
    width: 0;
  }

  &:before {
    left: 0;
  }
  &:after {
    right: 0;
  }

  &:hover:before,
  &:hover:after {
    width: 50%;
  }

  &:before,
  &:after {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
}

.navigationItem {
   opacity: 0;
   transition: opacity 1s ease;
   width: 400px;

   &.active .navigationAnchor {
     color: #b4b4b4;
     &:before,
     &:after {
       width: 50%;
     }
   }
}

.menuInput {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.menuButton {
  margin: 0;
  cursor: pointer;

  &:hover {
    svg path {
      fill: $white;
    }
  }
}

.menuInput:checked + .menuButton {
  svg path {
    fill: #b4b4b4;
  }
}

.menuInput:checked ~ .overlay {
  display: block;
}

.menuInput:checked ~ .navigationList {
  width: 50vw;

  .navigationItem {
    opacity: 1;
  }
}
