.appointmentButton {
    border: none;
    padding: 20px;
    background:  rgba(16, 15, 18, 1);
    color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    &:focus {
        outline: none;
        border: none;
    }
}

.formRow {
    margin-bottom: 20px;
}

.formRow label {
    font-weight: bold;
    margin-right: 10px;
}

.formField {
    width: 100%;
    display: block;
    padding: 5px 10px;
}

.date {
    display: block;
    width: 100%;
}

.successMessage {
    color: #7c9f2f;
}

.errorMessage {
    color: #e56d75;
}

.submitButton {
    background-color: #555;
    color: #f4f4f4;
    border: none;
    padding: 10px 20px;
    width: 100%;
}

.disabledDate {
    color: #b4b4b4;
    user-select: none;
    pointer-events: none;
    background-color: #f4f4f4 !important;
    outline: none;
    cursor: auto;
}