body {
  padding-bottom: 200px;
}
.services-wrapper {
  margin: 20px 0;
  position: relative;
}

.services-wrapper ul {
  list-style-type: none;
  padding: 0;
}

.services-wrapper li {
  border-bottom: 1px solid #888;
  padding: 10px 0;
  margin-bottom: 10px;
}

.services-wrapper li:last-child {
  border: none;
}

.listaservicii {
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  position: relative;
}

.coloana2 {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.prices-title {
  font-family: "brittany_signatureregular";
  color: lightgray;
  font-size: 3rem;
  text-align: center;
  letter-spacing: 0.1em;
}

.prices-subtitle {
  font-family: "brittany_signatureregular";
  color: lightgray;
  font-size: 2rem;
  text-align: center;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
}

.img-absolute {
  width: 100%;
  position: absolute;
}

.services-price {
  color: rgba(255, 255, 255, 0.8);
}
.services-title {
  letter-spacing: 0.1em;
  color: rgba(255, 255, 255, 0.8);
}

.services-appointments {
  border: none;
  display: inline-block;
  background: #ffcdb4;
  border: 1px solid #ffc0a1;
  color: #000;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 40px;
  letter-spacing: 0.1em;
  text-decoration: none !important;
}

.services-appointments:hover {
  background: rgba(255, 205, 180, 0.8);
  color: #000;
}

.btn {
  color: rgb(97, 54, 56);
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 0 2em;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  border-radius: 0;
  letter-spacing: 0.1em;
}

.btn:hover {
  text-decoration: none;
}

.btn-5 {
  border: 1 solid transparent;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(97, 54, 56, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  border-radius: 0;
}

.btn-5:hover {
  border: 1px solid #555;
  box-shadow: inset 0 0 20px rgba(97, 54, 56, 0.5),
    0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}

$dark-blue: #555;
$green: #90feb5;
$action-color: $green;

.button-wrapper-animated {
  display: block;
  //animation: hue-rotate 10s linear infinite;
}

.button {
  -webkit-font-smoothing: antialiased;
  background-color: $dark-blue;
  border: none;
  color: #fff;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 100;
  text-decoration: none;
  user-select: none;
  letter-spacing: 0.2em;
  color: white;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: all 0.1s ease-out;

  &:hover {
    background-image: linear-gradient(
      to right,
      #cb9b51 0%,
      #f6e27a 45%,
      #f6e27a 55%,
      #cb9b51 100%
    );
    color: maroon;
  }

  &:active {
    transform: scale(0.95);
  }

  &--bubble {
    position: relative;
    z-index: 2;
    color: white;
    background: none;

    &:hover {
      background: none;
    }

    &:hover + .button--bubble__effect-container .circle {
      background-image: linear-gradient(
        to right,
        #cb9b51 0%,
        #f6e27a 45%,
        #f6e27a 55%,
        #cb9b51 100%
      );
    }

    &:hover + .button--bubble__effect-container .button {
      background-image: linear-gradient(
        to right,
        #cb9b51 0%,
        #f6e27a 45%,
        #f6e27a 55%,
        #cb9b51 100%
      );
    }

    &:active + .button--bubble__effect-container {
      transform: scale(0.95);
    }

    &__container {
      position: relative;
      display: inline-block;

      .effect-button {
        position: absolute;
        width: 50%;
        height: 25%;
        top: 50%;
        left: 25%;
        z-index: 1;
        transform: translateY(-50%);
        background: $dark-blue;
        transition: background 0.1s ease-out;
      }
    }
  }
}

.button--bubble__effect-container {
  position: absolute;
  display: block;
  width: 200%;
  height: 400%;
  top: -150%;
  left: -50%;
  -webkit-filter: url("#goo");
  filter: url("#goo");
  transition: all 0.1s ease-out;
  pointer-events: none;

  .circle {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 15px;
    background: $dark-blue;
    transition: background 0.1s ease-out;

    &.top-left {
      top: 40%;
      left: 27%;
    }

    &.bottom-right {
      bottom: 40%;
      right: 27%;
    }
  }
}

.goo {
  position: absolute;
  visibility: hidden;
  width: 1px;
  height: 1px;
}

.button--bubble__container {
  top: 50%;
  margin-top: -25px;
}

@keyframes hue-rotate {
  from {
    -webkit-filter: hue-rotate(0);
    -moz-filter: hue-rotate(0);
    -ms-filter: hue-rotate(0);
    filter: hue-rotate(0);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
    -moz-filter: hue-rotate(360deg);
    -ms-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}
