.my-frame {
    width: 80%;
    position:absolute;
    height: 48vw;
    top: 11%;
    left:50%;
    transform:translateX(-50%);
  }
  span.top-side {
    border-top: 3px solid rgba(255,255,255, 0.6);
    top:0;
    left:-20px;
    position:absolute;
    display: inline-block;
    width: calc(100% + 40px); 
  }
  span.bottom-side {
    border-bottom: 3px solid rgba(255,255,255, 0.6);
    bottom:0;
    left: -20px;
    position:absolute;
    display: inline-block;
    width: calc(100% + 40px); 
  }
  span.left-side {
    border-left: 3px solid rgba(255,255,255, 0.6);
    position:absolute;
    display: inline-block;
    height:calc(100% + 40px);
    top:-20px;
    left:0;
  }
  span.right-side {
    border-right: 3px solid rgba(255,255,255, 0.6);
    position:absolute;
    display: inline-block;
    height:calc(100% + 40px);
    top:-20px;
    right:0;
  }
  