 .section-title {
     color:white;
     display:flex;
     justify-content:flex-end;
     flex-direction: column;
}
.some-class {
    color:white;
}
.connect-style {
    color:white;
}
.connect-style h4 {
    text-align: center;
}
.info-wrapper {
    height:400px;
}
.no-link {
    margin-right: 75px;
}
.section-heart {
    padding:0px 20px;
    margin:0px 20px;
    color:white;
}
.heart-button {
    background-color:rgba(233, 196, 183,0.8);
    border: 1px solid #C29F93;
    line-height: initial;
    padding: 0;
}