.header {
    list-style-type: none;
    display:flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    position:sticky;
    top:0;
    width: 100%;
    z-index: 3;
    background-color: black;
  }
  .navy li {
    display:inline-block;
    margin-right: 20px;
    position: relative;
  }

  .navy li.active > a {
    border-bottom: 1px solid white;
  }
  
  .navy li a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    text-transform: uppercase;
  }

  .navy li a:hover {
    text-decoration: none;
    color:rgb(199, 194, 194);
  }

  .navy li:hover ul {
    display: flex;
  }

  .navy ul {
    display: none;
    position: absolute;
    top: auto;
    left: 0;
    padding: 0;
    padding: 10px 20px;
    background-color: #333;
    flex-direction: column;
    min-width: 200px;
  }
  
  .logo {
    flex-grow: 2;
    text-align: center;
  }
  
  .logo img {
    width: 30vw;
    height: auto;
  }