@import "../../scss/index";

.gdpr {
  width: 100%;
  position: fixed;
  z-index: 1010;
  bottom: 0;
  left: 0;
  padding: $spacingM;
  background-color: rgba($black,0.8);
  color: $white;
}

.button {
  padding: $spacingXS $spacingS;
  border: none;
  background: $white;
}

.textBlock {
  margin: 0;
  margin-right: $spacingS;
}