
@font-face {
    font-family: 'Barlow Condensed';
    src: url('/fonts/barlow-condensed/BarlowCondensed-Thin.eot');
    src: url('/fonts/barlow-condensed/BarlowCondensed-Thin.eot?#iefix') format('embedded-opentype'),
         url('/fonts/barlow-condensed/BarlowCondensed-Thin.woff2') format('woff2'),
         url('/fonts/barlow-condensed/BarlowCondensed-Thin.woff') format('woff'),
         url('/fonts/barlow-condensed/BarlowCondensed-Thin.ttf')  format('truetype'),
         url('/fonts/barlow-condensed/BarlowCondensed-Thin.svg#Barlow Condensed') format('svg');
}


@font-face {
    font-family: 'Amarylli Blossom';
    src: url('/fonts/amarylli/Amarylli-Blossom.eot');
    src: url('/fonts/amarylli/Amarylli-Blossom.eot?#iefix') format('embedded-opentype'),
         url('/fonts/amarylli/Amarylli-Blossom.woff2') format('woff2'),
         url('/fonts/amarylli/Amarylli-Blossom.woff') format('woff'),
         url('/fonts/amarylli/Amarylli-Blossom.ttf')  format('truetype'),
         url('/fonts/amarylli/Amarylli-Blossom.svg#Amarylli Blossom') format('svg');
}

@font-face {
    font-family: 'brittany_signatureregular';
    src: url('/fonts/brittany-signature/brittanysignature-webfont.woff2') format('woff2'),
         url('/fonts/brittany-signature/brittanysignature-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
