@import './fonts.scss';

body {
  margin: 0;
  font-family: 'Barlow Condensed', Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px !important;
}

.react-datepicker-wrapper {
  display: block;
  width: 100%;
}

.my-profile {
  color:white;
  text-decoration: none;
  padding-left: 10px;
  padding-top: 20px;
  display: inline-block;
  display: relative;
  z-index: 2;
}
.my-profile:hover {
  color:rgb(199, 194, 194);
  text-decoration: none;
}