
body {
  background-color:black;
}

::-webkit-scrollbar {
  display: none;
}

/*.section-vision {
  background-image: url("/images/BackgroundFinal.png");
  background-repeat: no-repeat;
  background-size: cover;
  width:auto;
  height:100%
}*//*first try for image*/
.inside-frame {
  position:relative;
  padding-left:0px;
  padding-right:0px;
}
 
.hometext-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
@media (min-width:768px) { 
  .hometext-wrapper {
    padding-top: 80px;
  }
}
.hometext {
  color:rgba(255,255,255, 0.6) !important;
  letter-spacing: 0.1em;
  font-size: 30px;
}

@media (min-width:768px) { 
  .hometext {
    font-size: 2.5rem;
  }
}


.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 45vw;
}

@media (min-width:768px) { 
  .button-wrapper {
    height: 85%;
  }
}

.my-button {
  border-radius: 0;
  border: none;
  color:rgba(255,255,255, 0.6) !important;
  max-width: 400px !important;
  font-size: 30px !important;
  letter-spacing: 0.1em;
}

.my-button:hover {
  background:rgba(85, 95, 97, 0.3);
  color:rgba(255,255,255, 0.6);
}


.my-frame {
  width: 80%;
  position:absolute;
  height: 48vw;
  top: 11%;
  left:50%;
  transform:translateX(-50%);
}
span.top-side {
  border-top: 3px solid rgba(255,255,255, 0.6);
  top:0;
  left:-20px;
  position:absolute;
  display: inline-block;
  width: calc(100% + 40px); 
}
span.bottom-side {
  border-bottom: 3px solid rgba(255,255,255, 0.6);
  bottom:0;
  left: -20px;
  position:absolute;
  display: inline-block;
  width: calc(100% + 40px); 
}
span.left-side {
  border-left: 3px solid rgba(255,255,255, 0.6);
  position:absolute;
  display: inline-block;
  height:calc(100% + 40px);
  top:-20px;
  left:0;
}
span.right-side {
  border-right: 3px solid rgba(255,255,255, 0.6);
  position:absolute;
  display: inline-block;
  height:calc(100% + 40px);
  top:-20px;
  right:0;
}

.testimonial {
  font-size: 14px;
  background: transparent;
  color: white;
  border-radius: 0;
  padding: 1em 3em;

}

@media (min-width:768px) {
  .testimonial {
    padding: 3em;
    font-size: 16px;
  }
}
.testimonial p {
  font-size: 1.5rem;
}
.blockquote-footer {
  font-size:1.1rem;
}
.carousel .slide {
  background: transparent;
}

.headline {
  color: white;
  text-align: center;
}
.headline {
  font-size: 4.5rem;
}

.banner-image {
  width: 100%;
}

.banner {
  position: relative;
}

.banner-block {
  position: absolute;
  background: rgba(0,0,0,0.3);
  color: white;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
}

.banner-block .display-4 {
  text-transform: lowercase;
  color: rgba(16,167,20,1);
}



div#gallery { 
  perspective: 1200px; 
  padding-top: 10%; 
  margin-bottom: 3rem; 
  overflow: hidden;
  position:relative; 
  padding:0 20px;
}
.controls {
  cursor: pointer;
  /*font-weight: bold;*/
  text-align: center;
  position:absolute;
  display:block;
  top:50%;
  color:white;
  width: 20px;
  height: 20px;
  z-index: 100;
  background: black;
  font-size: 28px;
}
.left-arrow {
  left:0px;
}
.right-arrow {
  right:0px;
}
figure#spinner { 
  transform-style: preserve-3d; 
  height: 300px; 
  transform-origin: 50% 50% -500px; 
  transition: 1s; 
} 
figure#spinner img { 
  width: 30%; max-width: 425px; 
  position: absolute; left: 30%;
  transform-origin: 50% 50% -500px;
  outline:1px solid transparent; 
}
figure#spinner img:nth-child(1) { transform:rotateY(0deg); }
figure#spinner img:nth-child(2) { transform: rotateY(-45deg); }
figure#spinner img:nth-child(3) { transform: rotateY(-90deg); }
figure#spinner img:nth-child(4) { transform: rotateY(-135deg); }
figure#spinner img:nth-child(5){ transform: rotateY(-180deg); }
figure#spinner img:nth-child(6){ transform: rotateY(-225deg); }
figure#spinner img:nth-child(7){ transform: rotateY(-270deg); }
figure#spinner img:nth-child(8){ transform: rotateY(-315deg); }




.footer {
  background-color: black;
  /*0.5 e valoarea de transparency. culoarea echivalent la #222222*/
  color: white;
  margin-bottom: 50px;
}
.phonenumber {
  text-align: center;
}
.lead {
  text-align: right;
}
.no-link {
  text-decoration: none !important;
  color: white;
}

.no-link:hover {
  color: white;
}

.home_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}